* {box-sizing: border-box;}

body {
    font-family: 'opensans-bold', sans-serif;
    margin: 0;
    line-height: 1.5;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 83px;
}

h1 {
    padding-top: 40px;
    margin: 0;
    font-size: xx-large;
}

h2 {
    font-size: x-large;
}

h3 {
    margin: 10px 0 20px 0;
}

nav {
    font-size: 14px;
    padding: 20px;
    overflow: hidden;
    background-color: #ffffff;
    display: flex;
    position: sticky;
    top: 0;
    align-items: center;
    justify-content: space-between;
    line-height: normal;
}

nav a {
    color: rgba(0,0,0,0.7);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition-duration: 0.4s;
}

nav a:hover {
    color: black;
}

.active {
    font-weight: bold;
}

#menu {
    display: flex;
    list-style: none;
}

input[type=checkbox] {
    display: none;
}

.hamburger {
    display: none;
    color: rgba(0,0,0,0.7);
    padding: 5px;
    transition-duration: 0.4s;
    border-radius: 5px;
}

.banner {
    text-align: center;
    padding: 50px 0;
    height: 80vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url("resources/bali.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner-name {
    font-size: xxx-large;
    color: white;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.4);
    padding: 0 0 100px 0;
}

.page-content {
    width: 700px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 1.5rem;
}

.column {
    flex: 50%;
    padding: 0 10px;
}

.row {
    display: flex;
}

#about-me, #projects, #contact-me {
    background-color: #f5f5f5;
}

#dataannotation, #centennial-arts, #accenture {
    text-decoration: none;
    color: black;
    transition-duration: 0.4s;
}

#dataannotation:hover {
    color: #3f42d8;
}

#centennial-arts:hover {
    color: #b03434;
}

#accenture:hover {
    color: #bd00ff;
}

img {
    aspect-ratio: 1;
    height: 12rem;
    border-radius: 50%;
    float: left;
    margin: 10px;
}

.img-text {
    text-align:left;
    padding: 10px;
    margin: 0;
}

.logo {
    border-radius: 0;
}

.flex-div {
    display: flex;
    align-items: center;
}

form > * {
    width: 100%;
    height: 3rem;
    font-size: 1rem;
}

input[type=submit] {
    transition: ease 0.5s;
    cursor: pointer;
    border: 1px solid gray;
}

input[type=submit]:hover {
    
    background-color: lightgray;
}

#confirmation {
    display: none;
}

@media (max-width: 300px) {
    img {
        width: 85%;
        height: auto;
    }
}

@media (max-width: 750px) {
    .flex-div {
        display: block;
    }

    img {
        float: none;
        margin: 0;
    }

    #about-me > div > div > p {
        padding-left: 0!important;
    }

    .page-content {
        width: 80%;
        text-align: center;
    }

    .img-text {
        text-align: center;
        padding-bottom: 20px;
    }
}

@media (max-width: 888px) {
    #menu {
        position: fixed;
        top: 48px;
        display: block;
        background-color:#f5f5f5;
        text-align: center;
        overflow: hidden;
        left: 0;
        right: 0;
        padding: 0;
        max-height: 0;
        box-shadow: 0px 5px 5px rgba(0,0,0,0.4);
        margin-top: 36px;
        transition: 0.4s ease;
    }

    #menu li + li {
       margin-top: 20px;
    }

    input[type=checkbox]:checked ~ #menu {
       max-height: 250px;
       padding: 24px 0;
    }

    input[type=checkbox]:hover ~ .hamburger {
        color: black;
        background-color: lightgray;
        overflow: visible;
    }
    
    .hamburger {
       display: block;
       cursor: pointer;
    }
}