body {
    font-family: 'Montserrat', sans-serif; 
}

.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-bar li {
    float: right;
}

.nav-bar li a {
    display: block;
    color: rgba(0,0,0,0.7);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition-duration: 0.4s;
}

.nav-bar li a:hover {
    color: black;
}

#name {
    float: left!important;
}